nbproject
nbproject/*
build
build/*
dist
dist/*
Debug
Debug/*
debug
debug/*
release
release/*
Release
Release/*
netemu_ui/Makefile
netemu_ui/Makefile.Debug
netemu_ui/Makefile.Release
netemu_ui/ui_*
netemu_ui/netemu_ui
boring-game/Makefile
boring-game/Makefile.Debug
boring-game/Makefile.Release
*.a
*.o
*.d
*.ncb
libnetemu.a
libnetlib.a
netemu.org/*
docs
docs/*
*.vcproj.*
*.pdb
*.idb
.cproject
.project
